name: CI Workflow

on:
  pull_request:
    branches: main

defaults:
  run:
    working-directory: ./api

jobs:
  ci:
    runs-on: ubuntu-latest

    env:
      RAILS_ENV: test
      CORS_ORIGINS: 'http://localhost:3000'

    services:
      db:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: todo_test
          MYSQL_USER: todo
          MYSQL_PASSWORD: todo
        ports:
          - 3306:3306
        options: >-
            --health-cmd="mysqladmin ping --silent" 
            --health-interval=10s 
            --health-timeout=5s 
            --health-retries=3

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      - name: Install dependencies
        run: bundle install --jobs 4 --retry 3

      - name: Setup database
        run: |
          cp config/database.yml.github_actions config/database.yml
          bundle exec rails db:prepare

      - name: Run Rubocop for linting and formatting
        run: |
          bundle exec rubocop

      - name: Run RSpec with coverage
        run: |
          bundle exec rspec